<div class="mt-2">
  <h2 class="text-2xl font-bold mb-4 text-white">¡Lo que mas anda Sonando!</h2>
  <div
    *ngIf="playlists.length > 0"
    class="overflow-y-scroll mt-4 h-calc-screen-playList"
  >
    <div
      class="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 gap-2 p-2 font-comfortaa"
    >
      <div
        *ngFor="let playlist of playlists"
        class="flex w-full flex-col justify-between p-2 bg-gray-100 rounded-lg shadow-lg group"
      >
        <div class="flex flex-col gap-1">
          <img
            [src]="playlist.images[0]?.url"
            alt="Playlist Image"
            class="w-full h-64 object-cover rounded-lg"
          />
          <h3 class="text-lg font-bold text-center truncate group-hover:overflow-auto  group-hover:whitespace-normal ">{{ playlist.name }}</h3>
          <p class="leading-tight truncate group-hover:overflow-auto  group-hover:whitespace-normal">{{ playlist.description }}</p>
        </div>
        <a
          [routerLink]="['/spotifyPlayListDetail', playlist.id]"
          class="text-gray-100 mt-2 py-1 text-center w-full bg-[#212121] rounded-lg"
          >Ver canciones</a
        >
      </div>
    </div>
  </div>
  <div *ngIf="playlists.length === 0">
    <p>Loading playlists...</p>
  </div>
</div>
