<body>
  <div class="container mt-8 lg:mt-16 mb-8 lg:mb-16">
    <div
      class="flex relative flex-wrap items-center justify-center gap-4 lg:gap-10 p-4 lg:p-0"
    >
      <div><img src="../../../assets/Flores.webp" alt="" class="flores" /></div>
      <div class="textoTitulo">
        <div class="titulo">{{ titulo }}</div>
        <ul class="categorias">
          <li *ngFor="let categoria of categorias">● {{ categoria }}</li>
        </ul>
      </div>
      <div>
        <i-tabler
          class="x-agregarmas cursor-pointer"
          name="edit"
          (click)="abrirModalEdicion()"
        ></i-tabler>
      </div>
    </div>
  </div>
  <div class="flex justify-center flex-wrap gap-8 p-4 lg:p-0">
    <!-- INICIO PLANTILLA DE CARTA -->
    <div
      *ngFor="let receta of recetas"
      class="cartasEjemplo relative"
      [routerLink]="['/myrecipesdetail', userId, receta.id]"
    >
      <div>
        <div class="imagenCarta">
          <img
            class="w-40 h-40 object-cover"
            [src]="receta.imagen"
            alt="Imagen de la receta"
          />
        </div>
        <div class="infoCantidad">
          <div class="ordenadoFila items-center">
            <div><i-tabler name="alarm"></i-tabler></div>
            <div>{{ receta.tiempo }}</div>
          </div>
          <div class="ordenadoFila items-center">
            <div><i-tabler name="user"></i-tabler></div>
            <div>{{ receta.personas }} personas</div>
          </div>
        </div>
        <div>
          <div class="flex items-center justify-between">
            <p class="nombreCarta">{{ receta.titulo }}</p>
          </div>
        </div>
        <div class="miniCategoria">● {{ receta.categoria }}</div>
      </div>
      <i-tabler
        class="cursor-pointer text-white p-1 bg-black absolute top-0 right-0"
        (click)="eliminarReceta(receta); $event.stopPropagation()"
        name="X"
      >
      </i-tabler>
    </div>

    <!-- FIN PLANTILLA DE CARTA -->

    <!-- OPCION DE AGREGAR MAS -->
    <div class="cartasEjemplo centrarCosa">
      <label
        for="btn-modal"
        class="border-solid border-2 border-black agregar-carta rounded-full"
      >
        <div class="centrarCosa">
          <i-tabler class="x-agregarmas cursor-pointer" name="plus"></i-tabler>
        </div>
      </label>
    </div>
    <!-- FIN DE AGREGAR -->
  </div>

  <!-- INICIO MODAL AGREGAR MAS -->
  <input type="checkbox" id="btn-modal" />
  <div class="container-modal">
    <div class="content-modal p-5">
      <div class="mb-3">
        <h4 class="titulosmodal">Título</h4>
        <label>
          <input
            [(ngModel)]="nuevaReceta.titulo"
            type="text"
            placeholder="ingrese el titulo"
            class="inputmodal"
          />
        </label>
      </div>
      <div class="flex sm:flex-row flex-col gap-5 items-start sm:items-center w-full mb-3">
        <h4 class="titulosmodal">Imagen</h4>
        <label class="flex justify-center">
          <input type="file" (change)="onFileSelected($event)"/>
        </label>
        <div class="justify-center hidden sm:flex" *ngIf="nuevaReceta.imagen">
          <img
            [src]="nuevaReceta.imagen"
            alt="Previsualización de la imagen"
            class="img-preview w-40 h-40 object-cover"
          />
        </div>
      </div>
      <div class="mb-3">
        <h4 class="titulosmodal">Categoría</h4>
        <ul class="categorias-modal gap-5">
          <li
            *ngFor="let categoria of categorias"
            (click)="seleccionarCategoria(categoria)"
            [class.categoria-seleccionada]="nuevaReceta.categoria === categoria"
          >
            {{ categoria }}
          </li>
        </ul>
      </div>
      <div class="grid grid-cols-1 gap-5">
        <div class="flex sm:flex-row flex-col gap-5 w-full">
          <div class="flex-1 w-full">
            <h4 class="titulosmodal">Tiempo</h4>
            <label>
              <input
                [(ngModel)]="nuevaReceta.tiempo"
                type="text"
                class="inputmodal_TP w-full"
              />
            </label>
          </div>
          <div class="flex-1 w-full">
            <h4 class="titulosmodal">Personas</h4>
            <label>
              <input
                [(ngModel)]="nuevaReceta.personas"
                type="number"
                class="inputmodal_TP w-full"
              />
            </label>
          </div>
        </div>
        <div class="flex sm:flex-row flex-col gap-5 w-full">
          <div class="flex-1 gap-2 w-full">
            <h4 class="titulosmodal">Ingredientes</h4>
            <div class="flex gap-2 items-center ">
              <input
                [(ngModel)]="ingredienteActual"
                class="inputIngredientes w-full "
                type="text"
              />
              <button
                (click)="agregarIngrediente()"
                class="border py-1 px-1 border-black rounded-md bg-transparent"
              >
                +
              </button>
            </div>
            <ul
              class="list-decimal pl-[25px] overflow-scroll scroll-container h-[80px] sm:h-[150px]"
            >
              <li *ngFor="let ingrediente of nuevaReceta.ingredientes">
                {{ ingrediente }}
              </li>
            </ul>
          </div>
          <div class="flex-1 w-full">
            <h4 class="titulosmodal">Preparacion</h4>
            <textarea
              [(ngModel)]="nuevaReceta.preparacion"
              class="bg-transparent w-full h-1/2"
              placeholder="Escribe tu texto aquí..."
            ></textarea>
          </div>
        </div>
      </div>
      <div class="flex gap-5 items-center justify-center mt-3">
        <button
          (click)="guardarReceta()"
          class="px-5 py-2 bg-green-300 rounded-md"
        >
          Guardar
        </button>
        <button (click)="cerrarModal()" class="px-5 py-2 bg-red-400 rounded-md">
          Cerrar
        </button>
      </div>
    </div>
    <label for="btn-modal" class="cerrar-modal"></label>
  </div>

  <!-- INICIO MODAL EDICIÓN -->
  <div
    class="w-full h-full fixed top-0 lef-0 bg-[#0000003d] justify-center flex items-center"
    *ngIf="isEditing"
  >
    <div class="content-modal p-8 lg:p-16 rounded-lg">
      <div class="mb-3">
        <h4 class="titulosmodal">Editar Título</h4>
        <label>
          <input [(ngModel)]="titulo" type="text" class="inputmodal" />
        </label>
      </div>
      <div class="mb-3">
        <h4 class="titulosmodal">Editar Categorías</h4>
        <ul class="grid grid-cols-2 gap-4">
          <li *ngFor="let categoria of categorias; let i = index">
            <input [(ngModel)]="categorias[i]" type="text" class="inputmodal" />
            <button
              (click)="eliminarCategoria(i)"
              class="bg-red-500 text-white px-2 py-1 rounded"
            >
              Eliminar
            </button>
          </li>
        </ul>
        <div class="flex gap-2 items-center mt-2">
          <input
            [(ngModel)]="nuevaCategoria"
            class="inputIngredientes"
            type="text"
            placeholder="Nueva categoría"
          />
          <button
            (click)="agregarCategoria()"
            class="border py-1 px-1 border-black rounded-md bg-transparent"
          >
            +
          </button>
        </div>
      </div>
      <div class="flex gap-5 items-center justify-center">
        <button
          (click)="guardarCambios()"
          class="px-5 py-2 bg-green-300 rounded-md"
        >
          Guardar
        </button>
        <button
          (click)="cerrarModalEdicion()"
          class="px-5 py-2 bg-red-400 rounded-md"
        >
          Cerrar
        </button>
      </div>
    </div>
    <label for="btn-modal-edicion" class="cerrar-modal"></label>
  </div>
</body>
