<div class="w-full px-4">
  <div>
    <h1 class="text-dynamic-h1 font-fugaz-one text-center mb-4 mt-10">
      Presupuesto
    </h1>
  </div>
  <div class="flex flex-col items-center">
    <label for="monto" class="text-gray-700 font-medium mb-2">Monto:</label>
    <input
      type="number"
      id="monto"
      class="form-input border w-full max-w-96 border-gray-300 rounded-md px-2 py-2"
      [(ngModel)]="monto"
    />
    <div class="text-red-500 mt-2 text-dynamic-text" *ngIf="monto <= 0">
      <p>El monto debe ser mayor que 0.</p>
    </div>
    <button
      class="bg-blue-500 text-white font-medium rounded-md px-4 py-2 mt-4"
      [disabled]="monto <= 0"
      (click)="onSubmit()"
    >
      Enviar
    </button>
  </div>
</div>
