<body>
    <div class="container">
        <div class="superior">
            <div><img src="../../../assets/Flores.webp" alt="" class="flores"></div>
            <div class="textoTitulo">
                <div class="titulo">Mis Recetas</div>
                <ul class="categorias">
                    <li>● Desayunos</li>
                    <li>● Aperitivos</li>
                    <li>● Entradas</li>
                    <li>● Postres</li>
                </ul>
            </div>
        </div>
        <div class="lapiz">
            <a href="">
                <img src="../../../assets/lapiz.webp" alt="">
            </a>
        </div>
    </div>
    <div class="cartas">
        <!-- INICIO PLANTILLA DE CARTA -->
        <div class="cartasEjemplo">
            <div class="imagenCarta"></div>
            <div class="infoCantidad">
                <div class="ordenadoFila">
                    <div><i-tabler class="" name="alarm"></i-tabler></div>
                    <div>20 min</div>
                </div>
                <div class="ordenadoFila">
                    <div><i-tabler class="" name="user"></i-tabler></div>
                    <div>5 personas</div>
                </div>
            </div>
            <div class="nombreCarta"> Pancake Casero</div>
            <div class="miniCategoria">● Desayunos</div>
        </div>
        
        <!-- FIN PLANTILLA DE CARTA -->
        
        <!-- OPCION DE AGREGAR MAS -->
        <div class="cartasEjemplo centrarCosa">
            <label for="btn-modal" class=" border-solid border-2 border-black agregar-carta rounded-full">
                <div class="centrarCosa ">
                    <i-tabler class="x-agregarmas" name="plus"></i-tabler>
                </div>
            </label>
        </div>
        <!-- FIN DE AGREGAR -->
    </div>

    <!-- INICIO MODAL AGREGAR MAS -->
    <input type="checkbox" id="btn-modal">
    <div class="container-modal">
        <div class="content-modal">
            <div class="titulogeneral separador">
                <h4 class="titulosmodal">Título</h4>
                <label for="">
                    <input type="text" placeholder="ingrese el titulo" class="inputmodal">
                </label>
            </div>
            <div class="separador">
                <h4 class="titulosmodal"> Categoria</h4>
                <ul class="categorias-modal gap-5">
                    <li>CATEGORIA 1</li>
                    <li>CATEGORIA 2</li>
                    <li>CATEGORIA 3</li>
                </ul>
            </div>
            <div class="separador">
                <div class="columnas  separador justify-between">
                    <div>
                        <h4 class="titulosmodal ">Tiempo</h4>
                        <label for="">
                            <input type="text" class="inputmodal_TP">
                        </label>
                    </div>
                    <div>
                        <h4 class="titulosmodal">personas</h4>
                        <label for="">
                            <input type="text" class="inputmodal_TP">
                        </label>
                    </div>
                </div>
                <div class="columnas gap-10 justify-between separador">
                    <div>
                        <h4 class="titulosmodal">Ingredientes</h4>
                        <ul>
                            <li><input class="inputIngredientes" type="text"></li>
                            <li><input class="inputIngredientes" type="text"></li>
                            <li><input class="inputIngredientes" type="text"></li>
                            <li><input class="inputIngredientes" type="text"></li>
                            <li><button class="inputIngredientes-agregarmas" type="text">agregar mas</button></li>
                        </ul>
                    </div>
                    <div id="Preparacion" class="w-2/4">
                        <h4 class="titulosmodal">Preparacion</h4>
                        <textarea placeholder="Escribe tu texto aquí..." ></textarea>
                    </div>
                </div>
            </div>
            <div class="btn-cerrar">
                <label for="btn-modal"> CERRAR </label>
            </div>
        </div>
        <label for="btn-modal" class="cerrar-modal"></label>
    </div>



    <!-- FIN MODAL AGREGAR MAS -->
</body>