<body>
  <div class="container">
      <div class="superior">
          <div><img src="../../../assets/Flores.webp" alt="" class="flores"></div>
          <div class="textoTitulo">
              <div class="titulo">Mis Recetas</div>
              <ul class="categorias">
                  <li>● Desayunos</li>
                  <li>● Aperitivos</li>
                  <li>● Entradas</li>
                  <li>● Postres</li>
              </ul>
          </div>
      </div>
      <div class="lapiz">
          <a href="">
              <img src="../../../assets/lapiz.webp" alt="">
          </a>
      </div>
  </div>
  <div class="cartas">
      <!-- INICIO PLANTILLA DE CARTA -->
      <div class="cartasEjemplo">
          <div class="imagenCarta"></div>
          <div class="infoCantidad">
              <div class="ordenadoFila">
                  <div><img src="../../../assets/minireloj.webp" alt=""></div>
                  <div>20 min</div>
              </div>
              <div class="ordenadoFila">
                  <div><img src="../../../assets/personascantidad.webp" alt=""></div>
                  <div>5 personas</div>
              </div>
          </div>
          <div class="nombreCarta"> Pancake Casero</div>
          <div class="miniCategoria">● Desayunos</div>
      </div>
      <!-- FIN PLANTILLA DE CARTA -->
      <div class="cartasEjemplo">
          <div class="imagenCarta"></div>
          <div class="infoCantidad">
              <div class="ordenadoFila">
                  <div><img src="../../../assets/minireloj.webp" alt=""></div>
                  <div>20 min</div>
              </div>
              <div class="ordenadoFila">
                  <div><img src="../../../assets/personascantidad.webp" alt=""></div>
                  <div>5 personas</div>
              </div>
          </div>
          <div class="nombreCarta"> Pancake Casero</div>
          <div class="miniCategoria">● Desayunos</div>
      </div>
      <div class="cartasEjemplo">
          <div class="imagenCarta"></div>
          <div class="infoCantidad">
              <div class="ordenadoFila">
                  <div><img src="../../../assets/minireloj.webp" alt=""></div>
                  <div>20 min</div>
              </div>
              <div class="ordenadoFila">
                  <div><img src="../../../assets/personascantidad.webp" alt=""></div>
                  <div>5 personas</div>
              </div>
          </div>
          <div class="nombreCarta"> Pancake Casero</div>
          <div class="miniCategoria">● Desayunos</div>
      </div>
      <div class="cartasEjemplo">
          <div class="imagenCarta"></div>
          <div class="infoCantidad">
              <div class="ordenadoFila">
                  <div><img src="../../../assets/minireloj.webp" alt=""></div>
                  <div>20 min</div>
              </div>
              <div class="ordenadoFila">
                  <div><img src="../../../assets/personascantidad.webp" alt=""></div>
                  <div>5 personas</div>
              </div>
          </div>
          <div class="nombreCarta"> Pancake Casero</div>
          <div class="miniCategoria">● Desayunos</div>
      </div>
      <div class="cartasEjemplo">
          <div class="imagenCarta"></div>
          <div class="infoCantidad">
              <div class="ordenadoFila">
                  <div><img src="../../../assets/minireloj.webp" alt=""></div>
                  <div>20 min</div>
              </div>
              <div class="ordenadoFila">
                  <div><img src="../../../assets/personascantidad.webp" alt=""></div>
                  <div>5 personas</div>
              </div>
          </div>
          <div class="nombreCarta"> Pancake Casero</div>
          <div class="miniCategoria">● Desayunos</div>
      </div>
      <div class="cartasEjemplo">
          <div class="imagenCarta"></div>
          <div class="infoCantidad">
              <div class="ordenadoFila">
                  <div><img src="../../../assets/minireloj.webp" alt=""></div>
                  <div>20 min</div>
              </div>
              <div class="ordenadoFila">
                  <div><img src="../../../assets/personascantidad.webp" alt=""></div>
                  <div>5 personas</div>
              </div>
          </div>
          <div class="nombreCarta"> Pancake Casero</div>
          <div class="miniCategoria">● Desayunos</div>
      </div>
      <div class="cartasEjemplo">
          <div class="imagenCarta"></div>
          <div class="infoCantidad">
              <div class="ordenadoFila">
                  <div><img src="../../../assets/personascantidad.webp" alt=""></div>
                  <div><img src="../../../assets/minireloj.webp" alt=""></div>
                  <div>20 min</div>
              </div>
              <div class="ordenadoFila">
                  <div><img src="../../../assets/personascantidad.webp" alt=""></div>
                  <div>5 personas</div>
              </div>
          </div>
          <div class="nombreCarta"> Pancake Casero</div>
          <div class="miniCategoria">● Desayunos</div>
      </div>
      <!-- OPCION DE AGREGAR MAS -->
      <div class="cartasEjemplo centrarCosa">
          <label for="btn-modal">
              <div class="centrarCosa">
                  <img src="../../../assets/botonAgregar.webp" alt="">
              </div>
          </label>
      </div>
      <!-- FIN DE AGREGAR -->
  </div>

  <!-- INICIO MODAL AGREGAR MAS -->
  <input type="checkbox" id="btn-modal">
  <div class="container-modal">
      <div class="content-modal">
          <h2>HOLAMMMMM </h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, quo?</p>
          <div class="btn-cerrar">
              <label for="btn-modal"> CERRAR </label>
          </div>
      </div>
      <label for="btn-modal" class="cerrar-modal"></label>
  </div>



  <!-- FIN MODAL AGREGAR MAS -->
</body>
