<div class="w-full px-4 font-comfortaa">
  <div class="z-30">
    <h1 class="text-dynamic-h1 font-fugaz-one text-center mb-4 mt-10">
      Gastos
    </h1>
  </div>
  <div class="flex justify-center gap-5 z-30 max-w-[1000px] mx-auto">
    <div class="flex flex-col gap-4 items-center">
      <p class="text-gray-700 font-medium">Monto inicial: S/ {{ monto }}</p>
      <label for="gasto" class="text-gray-700 font-medium">Gasto:</label>
      <input
        type="text"
        id="nombreGasto"
        placeholder="Nombre de Gasto"
        class="form-input border w-full md:w-[500px] border-gray-300 outline-none rounded-md px-2 py-2"
        [(ngModel)]="nombreGasto"
      />
      <p for="precio" class="text-gray-700 font-medium text-start">
        Ingrese el precio:
      </p>
      <input
        type="number"
        id="gasto"
        class="form-input border w-full md:w-[500px] border-gray-300 outline-none rounded-md px-2 py-2"
        [(ngModel)]="gasto"
      />
      <textarea
        type="text"
        id="descripcionGasto"
        placeholder="Descripción (opcional)"
        class="border w-full md:w-[500px] h-24 border-gray-300 outline-none rounded-md px-2 py-2 resize-none"
        [(ngModel)]="descripcionGasto"
      ></textarea>
      <app-button-budget
        [buttonText]="'Restar'"
        (buttonClick)="restarGasto()"
      ></app-button-budget>
      <app-error-message [message]="addErrorMessage"></app-error-message>
      <div class="text-gray-700 font-medium">
        Monto restante: {{ montoRestante }}
      </div>
      <div class="text-gray-700 font-medium">
        Gasto Realizado: {{ gastoRealizado }}
      </div>
      <!-- <button
        class="py-2 px-8 bg-transparent text-black rounded-lg border border-black hover:bg-black hover:text-white duration-300 hover:translate-y-2"
        (click)="generarPDF()"
      >
        Generar PDF
      </button> -->
    </div>

    <div>
      <h2
        *ngIf="gastos.length >= 1"
        class="text-gray-700 font-medium text-center"
      >
        Gastos realizados:
      </h2>
      <div
        class="grid grid-cols-[repeat(auto-fit,_minmax(250px,_1fr))] gap-7 place-content-center"
      >
        <div
          *ngFor="let gasto of gastos; let i = index"
          class="flex flex-col items-center justify-center rounded-lg"
        >
          <div
            class="flex items-center bg-pink-primary p-3 rounded-t-lg justify-between w-full"
          >
            <i-tabler
              name="edit"
              class="text-white font-medium cursor-pointer"
              (click)="actualizarGasto(i)"
            ></i-tabler>
            <p class="font-bold text-white">
              {{ gasto.nombre }}
            </p>
            <i-tabler
              name="x"
              class="text-white font-medium cursor-pointer"
              (click)="eliminarGasto(i)"
            ></i-tabler>
          </div>
          <div
            class="bg-beach-primary flex flex-col items-center p-3 w-full rounded-b-lg"
          >
            <p class="text-center">s/{{ gasto.precio }}</p>
            <p class="text-center break-words" *ngIf="gasto.descripcion">
              {{ gasto.descripcion }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <img
    class="absolute bottom-10 left-10 lg:w-52 sm:w-36 z-10 w-14"
    src="../../../assets/planta01.webp"
    alt=""
  />
  <img
    class="absolute top-10 right-10 lg:w-60 sm:w-36 z-10 w-14"
    src="../../../assets/cuadros.webp"
    alt=""
  />
</div>

<!-- Modal de edición -->
<div
  *ngIf="isEditing"
  class="fixed inset-0 font-comfortaa flex items-center justify-center z-50 bg-gray-800 bg-opacity-75"
>
  <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-md">
    <h2 class="text-lg font-bold mb-4">Editar Gasto</h2>
    <label for="nombreGastoEdit" class="text-gray-700 font-medium mb-2"
      >Nombre de Gasto:</label
    >
    <input
      type="text"
      id="nombreGastoEdit"
      class="form-input border w-full border-gray-300 outline-none rounded-md mb-4 px-2 py-2"
      [(ngModel)]="nombreGastoEdit"
    />
    <label for="gastoEdit" class="text-gray-700 font-medium mb-2">Monto:</label>
    <input
      type="number"
      id="gastoEdit"
      class="form-input border w-full border-gray-300 outline-none rounded-md mb-4 px-2 py-2"
      [(ngModel)]="gastoEdit"
    />
    <label for="descripcionGastoEdit" class="text-gray-700 font-medium mb-2"
      >Descripción:</label
    >
    <textarea
      id="descripcionGastoEdit"
      class="form-input border w-full h-24 border-gray-300 outline-none rounded-md mb-2 px-2 py-2"
      [(ngModel)]="descripcionGastoEdit"
    ></textarea>
    <app-error-message [message]="editErrorMessage"></app-error-message>
    <div class="flex justify-end gap-4">
      <button
        class="bg-gray-500 text-white font-medium rounded-md px-4 py-2"
        (click)="cancelarEdicion()"
      >
        Cancelar
      </button>
      <button
        class="bg-blue-500 text-white font-medium rounded-md px-4 py-2"
        (click)="guardarEdicion()"
      >
        Guardar
      </button>
    </div>
  </div>
</div>

