<div class="container mx-auto h-screen p-4">
  <div class="grid grid-cols-4 place-content-center h-full gap-4">
    <a routerLink="/BudgetComponent" class="col-span-2 row-span-2">
      <div class="bg-brown-primary h-96 rounded-[40px] p-4">Presupuesto</div>
    </a>
    <a routerLink="/Masscalculator" class="col-span-2 row-span-1">
      <div class="bg-green-primary rounded-[40px] h-full p-4">Masas</div>
    </a>
    <a routerLink="/ruta3" class="col-span-1 row-span-2">
      <div class="bg-pink-primary rounded-[40px] h-full p-4">
        Video de Recetas
      </div>
    </a>
    <a routerLink="/ruta4" class="col-span-1 row-span-1">
      <div class="bg-yellow-primary rounded-[40px] h-full p-4">To Do List</div>
    </a>
    <a routerLink="/ruta5" class="col-span-2 row-span-1">
      <div class="bg-beach-primary rounded-[40px] h-full p-4">Recetas</div>
    </a>
  </div>
</div>
