<div class="container mx-auto h-screen p-4 font-comfortaa ralative">
  <div
    class="flex flex-col sm:grid sm:grid-cols-2 gap-2 xl:grid xl:grid-cols-4 xl:grid-rows-4 xl:gap-4 h-full xl:place-content-center z-[-10]"
  >
    <a routerLink="/calculator" class="col-span-1 row-span-1 relative group">
      <img
      src="../../../assets/Presupuesto.png"
      class="bg-green-primary h-full rounded-[40px] w-full p-4 object-contain m-auto max-w-[400px] lg:w-full"
    />
    <div
      class="absolute inset-0 flex items-center justify-center bg-white bg-opacity-50 rounded-[40px] opacity-0 group-hover:opacity-100 transition-opacity duration-300"
    >
      <span class="text-[#845751] font-bold text-3xl">Mi recetario</span>
    </div>
    </a>
    <a
      routerLink="/BudgetComponent"
      class="xl:col-start-1 xl:col-end-2 col-start-2 col-end-3 row-start-1 row-end-2 relative group"
    >
      <img
        src="../../../assets/Presupuesto.png"
        class="bg-green-primary h-full rounded-[40px] w-full p-4 object-contain m-auto max-w-[400px] lg:w-full"
      />
      <div
        class="absolute inset-0 flex items-center justify-center bg-white bg-opacity-50 rounded-[40px] opacity-0 group-hover:opacity-100 transition-opacity duration-300"
      >
        <span class="text-[#845751] font-bold text-3xl">Presupuesto</span>
      </div>
    </a>
    <a
      routerLink="/cookingMusic"
      class="col-start-1 col-end-2 row-start-3 row-end-5 xl:col-start-1 xl:col-end-2 xl:row-start-3 xl:row-end-5"
    >
      <img
        src="../../../assets/musiccell.png"
        class="bg-green-primary h-full rounded-[40px] w-full p-4 object-contain m-auto max-w-[400px] lg:w-full"
      />
    </a>
    <a routerLink="/Masscalculator" class="relative group col-start-1 col-end-2 row-start-5 row-end-6 xl:col-start-2 xl:col-end-3 xl:row-start-3 xl:row-end-4">
      <img
        src="../../../assets/galletaaa.webp"
        class="bg-pink-primary h-full rounded-[40px] w-full p-4 object-contain m-auto max-w-[400px] lg:w-full"
      />
      <div
        class="absolute inset-0 flex items-center justify-center bg-white bg-opacity-50 rounded-[40px] opacity-0 group-hover:opacity-100 transition-opacity duration-300"
      >
        <span class="text-[#845751] font-bold text-3xl"
          >Calculadora de Masa</span
        >
      </div>
    </a>
    <a
      routerLink="/todolist"
      class="col-start-2 col-end-3 row-start-5 row-end-8 xl:col-start-3 xl:col-end-4 xl:row-start-1 xl:row-end-4"
    >
      <img
        src="../../../assets/toDo.webp"
        class="bg-green-primary  rounded-[40px] h-full p-4 w-[400px] xl:w-full m-auto"
      />
    </a>
    <div class="col-start-2 col-end-3 row-start-2 row-end-3 xl:col-start-4 xl:col-end-5 font-anton xl:row-start-1 xl:row-end-2">
      <div
        class="bg-pink-primary h-full mx-auto max-w-[400px] lg:w-full rounded-[40px] p-4 snap-x flex justify-center items-center"
      >
        <div class="body2 h-auto">
          <div
            class="content snap-center tracking-wider text-cyan-600"
          >
            <h2 class=" lg:text-[85px] text-6xl ">
              {{ hora | date : "hh:mm:ss" }}
            </h2>
            <h2 class=" lg:text-[85px] text-6xl ">
              {{ hora | date : "hh:mm:ss" }}
            </h2>
          </div>
        </div>
        <div class="content snap-center tracking-wider  text-cyan-600">
          <h2 class=" lg:text-[85px] text-6xl ">
            {{ hora | date : "hh:mm:ss" }}
          </h2>
          <h2 class=" lg:text-[85px] text-6xl ">
            {{ hora | date : "hh:mm:ss" }}
          </h2>
        </div>
      </div>
    </div>
    <a
      routerLink="/recipes"
      class="col-start-2 col-end-3 row-start-3 row-end-5 xl:col-start-4 xl:col-end-5 xl:row-start-3 xl:row-end-5"
    >
      <img
        src="../../../assets/recetario.jpg"
        class="h-full rounded-[40px]  w-[400px] xl:w-full m-auto"
      />
    </a>
    <a
      routerLink="/timer"
      class="col-start-1 col-end-2 row-start-2 row-end-3 xl:col-start-4 xl:col-end-5 xl:row-start-2 xl:row-end-3 relative group"
    >
      <img
        src="../../../assets/timer.png"
        class="bg-yellow-primary h-full rounded-[40px] w-full p-4 object-contain m-auto max-w-[400px] lg:w-full"
      />
      <div
        class="absolute inset-0 flex items-center justify-center bg-white bg-opacity-50 rounded-[40px] opacity-0 group-hover:opacity-100 transition-opacity duration-300"
      >
        <span class="text-[#845751] font-bold text-3xl">Temporizador</span>
      </div>
    </a>
    <figure class="col-start-1 col-end-2 row-start-6 row-end-8 xl:col-start-2 xl:col-end-3 xl:row-start-1 xl:row-end-3 rounded-[40px]">
      <img
        src="../../../assets/planta.webp"
        class="rounded-[40px] w-[400px] xl:w-full m-auto"
      />
    </figure>
    <figure
      class="h-full w-full col-start-1 col-end-3 row-start-8 row-end-9 xl:col-start-2 xl:col-end-4 xl:row-start-4 xl:row-end-5 mt-8 lg:mt-0"
    >
      <img
        src="../../../assets/Logoooo-removebg-preview.png"
        class="h-full w-full m-auto"
      />
    </figure>
  </div>

  <!-- ----------- -->
  <div
    class="absolute -top-2 -left-2 cursor-pointer"
    (click)="toggleProfileVisibility()"
  >
    <div class="p-4 bg-blue-400 rounded-br-full w-fit">
      <i-tabler
        *ngIf="!isProfileVisible"
        name="user-plus"
        class="cursor-pointer text-white font-bold"
      ></i-tabler>
      <i-tabler
        *ngIf="isProfileVisible"
        name="user-minus"
        class="cursor-pointer text-white font-bold"
      ></i-tabler>
    </div>

    <div
      [ngClass]="{ hidden: !isProfileVisible, block: isProfileVisible }"
      class="mt-2 ml-4 bg-white p-4 shadow rounded-lg font-comfortaa"
    >
      <div
        *ngIf="userEmail || userDisplayName"
        class="flex flex-col justify-center items-center"
      >
        <p>Bienvenido!</p>
        <h2>{{ userDisplayName || userEmail }}</h2>
        <div *ngIf="userPhotoURL">
          <img
            [src]="userPhotoURL"
            alt="Foto de perfil"
            class="rounded-full w-32 h-32"
          />
        </div>
        <div *ngIf="!userPhotoURL">
          <p>Imagen de perfil no disponible.</p>
        </div>
      </div>
      <div *ngIf="!userEmail && !userDisplayName">
        <p>Inicia sesión para ver tu perfil.</p>
      </div>
    </div>
  </div>

  <!-- ------------ -->
  <div
    class="absolute top-0 right-0 cursor-pointer"
    (click)="close()"
  >
    <div
      class="p-6 bg-red-400  rounded-bl-full  w-fit relative"
    >
      <i-tabler
        name="user-x"
        class="cursor-pointer text-white font-bold absolute top-2 right-2 "
      ></i-tabler>
    </div>
  </div>
</div>
